/* Main container */

.cart-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

/* Cart header */
.cart-header {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Cart item container */
.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.cart-item img {
  max-width: 100px;
  height: auto;
}

/* Cart item details */
.cart-item-details {
  flex: 1;
  margin-left: 20px;
}

.cart-item-details h3 {
  font-size: 20px;
  margin: 0;
  color: #333;
}

.cart-item-details p {
  font-size: 16px;
  margin: 8px 0;
  color: #777;
}

/* Quantity input */
.quantity-input {
  width: 50px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

/* Action buttons */
.action-buttons {
  display: flex;
  align-items: center;
}

.action-button {
  background-color: #daaa63;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: #c2a792;
}

/* Total amount */
.total-amount {
  font-size: 24px;
  margin-top: 20px;
  text-align: right;
  color: #333;
}

/* Shop button */
.shop-button {
  display: block;
  margin: 20px auto;
  background-color: #daaa63;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.shop-button:hover {
  background-color: #c2a792;
}

.remove-button {
  color: #e74c3c; /* Red color */
}

.remove-button:hover {
  color: #c0392b; /* Darker red color on hover */
}

/* Cart CSS ENDS HERE */

/* SideBar Css Starts HERE */

.drawer {
  width: 250px;
}

.drawer a {
  text-decoration: none;
  color: #333;
}

.drawer a:hover {
  background-color: #f0f0f0;
}

.drawer .MuiListItem-root {
  border-bottom: 1px solid #ccc;
}

.drawer .MuiListItem-root:last-child {
  border-bottom: none;
}

.drawer .MuiListItemText-root {
  margin-left: 16px;
}

/* Adjust the position of the menu button */
.MuiIconButton-root {
  margin-left: 16px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .drawer {
    width: 100%;
  }
}

/* SideBar Css Ends HERE */

/* SingleBook Css Starts HERE */

/* Container for Single Book Details */
.single-book-containerr {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #f5f5f5;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 35px auto;
  width: 100%;
  max-width: 1200px;
  /* height: auto; */
}

/* Book Image */
.book-imagee {
  width: 500px;
  /* max-height: 600px; */
  object-fit: cover;
  border-radius: 8px;
  margin-right: 20px;
}

/* Book Details */
.Book-Detailss {
  flex: 1;
  display: flex;
}

.book-details-2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  text-align: left;
}

.book-details-2 h3 {
  font-size: 24px;
  /* margin: 10px 0; */
}

.book-details-2 article {
  font-size: 16px;
  color: #888;
}

.book-details-2 p {
  font-size: 18px;
  line-height: 1.5;
  margin-top: 20px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  margin-top: 8px;
  overflow: auto;
}

.book-details-2 h2 {
  font-size: 28px;
  color: #e74c3c;
  margin-top: 10px;
}

.book-details-2 h1 {
  font-size: 18px;
  margin-top: 10px;
}

/* Add to Cart Section */
.add-to-cart-section {
  display: flex;
  align-items: center;

  margin-top: 10px;
}

.add-to-cart-quantity {
  display: flex;
  align-items: center;
}

.quantity-input2 {
  width: 50px;
  text-align: center;
  font-size: 16px;
}

.add-to-cart-iconss {
  margin: 0 10px;
  font-size: 24px;
  color: #daaa63;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.add-to-cart-iconss:hover {
  transform: scale(1.2);
}

.add-to-cart-buttonn {
  color: white;
  padding: 10px;
  background-color: #daaa63;
  width: fit-content;
  margin-top: 30px;
  border-radius: 5px;
}
/* SingleBook Css Ends HERE */

/* header */

.Tabs_Header {
  /* background-color: #3498db; */
  margin: 40px;
  
}

.Tab_Individual{
  justify-content: space-between;
}

.Tabs_Header .Tab_Individual {
  color: #daaa63;
  font-weight: 700;
  background-color: white;
  margin: auto;
  padding: 10px 30px;
  width: fit-content;
  border-radius: 20px;
}

/* Header.css */
/* Style the active tab differently */
.Tab_Individual.active {
  color: white;
  background-color: #daaa63;
}

.Tab_Individual:hover {
  color: white;
  background-color: #dec59e;
}

/* Header ends here */