
.drawer {
    width: 250px;
}

.drawer a {
    text-decoration: none;
    color: #333;
}

.drawer a:hover {
    background-color: #f0f0f0;
}

.drawer .MuiListItem-root {
    border-bottom: 1px solid #ccc;   
}

.drawer .MuiListItem-root:last-child {
    border-bottom: none;
}

.drawer .MuiListItemText-root {
    margin-left: 16px;  
}

/* Adjust the position of the menu button */
.MuiIconButton-root {
    margin-left: 16px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .drawer {
        width: 100%;
        
    }

}
