
body{
  
}

ul {
  display: flex;
  /* flex-direction: row; */
  align-content: center;
  justify-content: space-between;

  flex-wrap: wrap;
}
li {
  padding: 5px;
  margin: 50px 50px;
  list-style-type: none;
  justify-content: flex-start;
  
}




.book-card {
  width: 350px;
  justify-content: space-around;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.book-card:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.book-image {
  position: relative;
  
}

.book-image img {
  width: 100%;
  height: 400px;
  display: block;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.book-image:hover .image-overlay {
  opacity: 1;
}

.image-overlay button {
  background-color: #DAAA63;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.image-overlay button:hover {
  background-color: #C2A792;
}
.book-details {
  padding: 20px;
  flex: 1;
display: flex;
  flex-direction: column;
}

.author {
  font-size: 14px;
  color: #888;
}

.book-title {
  font-size: 18px;
  margin-top: 4px;
}

.book-description {
  font-size: 14px;
  color: #555;
  /* overflow: hidden; */
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  margin-top: 8px;
  overflow: auto;
  /* max-height: 300px; */
}

.availability {
  font-size: 14px;
  margin-top: 8px;
}

.price {
  font-size: 20px;
  color: #ff6b6b;
  margin-top: 8px;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.actions
.update-button,.actions
.delete-button,.actions
.add-to-cart-button {
  background-color: #DAAA63;
  color: whitesmoke;
  border: none;
  padding: 8px 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.actions
.update-button:hover,.actions
.delete-button:hover,.actions
.add-to-cart-button:hover {
  background-color: #C2A792;
}


.searchBox{
  margin: 50px;
  text-align: center;
}

/* AddBook.css */

/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styling for the body */
body {
  font-family: Arial, sans-serif;
   background-color: #F8F3ED;
   /* 252525 */
  color: #333;
}

/* Container for the form */
.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Form title */
.form-title {
  font-size: 40px;
  margin-bottom: 15px;
}

.form{
  margin-bottom: 100px;
}

/* Add more styles for form elements as needed */


.button-addd{
  
  color: white;
  padding: 10px;
  background-color: #DAAA63;
  width: fit-content;
  margin: auto;
  
  border-radius: 5px;

}